body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-div{

  width: 100%;
  height: 100vh;
  background-color: blueviolet;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;


}
.center-div{
  width: 25%;
  height: 80vh;
  background-color: cornsilk;
 
  align-items: center;
  display: block;
  text-align: center;
  box-shadow: 4px -3px 5px 0px rgba(0,0,0,0.75);
  border-radius: 15px;
}

ol li{

  list-style: none;
  text-align: left;
  font-weight: 700;
  font-size: 20px;
  padding: 2% 0;



}

.To_do_style{

  justify-content: left;
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

